@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

.nav{
    background-color: rgb(35, 34, 34);
    height: 100px;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav .left{
    height: 70%;
    width: 70px;
    background-color: aliceblue;
    margin-left: 20px;
    border-radius: 50%;
}

.left img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.center{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
}

.right{
    align-content: center;
    margin-right: 40px;
}

.right input{
    height: 25px ;
    width: 12rem;
    border-radius: 5px;
    border: 0;
}

.right button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    font-weight: 600;
    background-color: rgb(8, 114, 19);
    color: aliceblue;
    font-family: "Nunito Sans", sans-serif;
}

.main-body{
    height: 100vh;
    width: 90%;
    margin: auto;
    background-color: aliceblue;
}
.down-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-nav .left{
    margin-left: 40px;
}

.card-display{
    width: 93%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    height: 19rem;
    width: 11rem;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.profile-img{
    height: 90px;
    width: 90px;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    background-color: grey;
}

.btn-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn-card button{
    border: 0;
    padding: 5px 10px;
    width: 5rem;
    border-radius: 10px;
    color: #fff;
}

.card p{
        font-size: 14px;
        color: grey;
}

.body-addemployee{
    height: 78vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
}

.addemployee-main{
    height:80%;
    width: 30%;
    background-color: rgba(240, 248, 255, 0.658);
    margin: auto;
    padding:50px 30px;
    /* box-shadow: 5px 5px 10px 5px rgb(94, 95, 95); */
}

.tableform{
    border-spacing:50px 0;
}

.tableform input,select,button{
    padding: 5px 30px;
    border: .5px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tablecard{
    border-spacing: 20px 0;
}